{% extends "standard_clean.html" %}

{% block title %}404{% endblock %} 

{% block extra_title %}Página no encontrada{% endblock %}

{% block content %}
    <div class="formContainer">
        <h1 class="centered_text">HTTP 404</h1>
        <p class="centered_text">La página que está tratando de acceder no existe o ya no es posible realizar la operación requerida.</p>
    </div>
{% endblock %}

