{% extends "standard_clean.html" %}

{% block title %}500{% endblock %}
{% block extra_title %}Error interno{% endblock %}

{% block content %}
    <div class="formContainer">
        <h1 class="centered_text">HTTP 500</h1>
        <p class="centered_text">Se ha producido un error interno en la operación.</p>
        {% if error_msg %}
	        <p>
	           {{ error_msg }}
	        </p>
        {% endif %}
    </div>
{% endblock %}

