{% load staticfiles %}

<!doctype html>

<html lang="es-CO">

    <head>
        <meta charset="utf-8">
        <meta name="robots" content="NONE,NOARCHIVE">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{% block title %}{% endblock %} | {% block extra_title %}{% endblock %}</title>
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui/cupertino/jquery-ui-1.10.3.custom.min.css' %}">
        <!-- bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.er.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap-responsive.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/select2/select2.min.css' %}">

        {% block css %}{% endblock %}
		
        <!-- vars -->
        <script type="text/javascript">
            var MEDIA_URL = "{{ MEDIA_URL_NO_SLASH }}";
            var MEDIA_IMG = "{{ MEDIA_IMG }}";
            var APP_URL = "{{ APP_URL }}";
            var STATIC_URL = "{{ STATIC_URL|escapejs }}";
        </script>
    </head>

    <body>
	    <div class="container">
		       {% block container %}{% endblock %}
	    </div>    
        
        <!-- Scripts -->
        <script src="{% static 'js/jquery/jquery-1.9.1.min.js' %}"></script>
		<script src="{% static 'js/jquery-ui/jquery-ui-1.10.3.custom.min.js' %}"></script>
		<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/validate/jquery.validate.min.js' %}"></script>
		<script src="{% static 'js/validate/jquery.validate-extra-er.js' %}"></script>
		<script src="{% static 'js/mask/jquery.mask.min.js' %}"></script>
		<script src="{% static 'js/select2/select2-er.min.js' %}"></script>
        <!-- <script src="{% static 'js/alphanumeric/jquery.alphanumeric.min.js' %}"></script> -->
		<script src="{% static 'js/dynamic-style.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>

        {% block js %}{% endblock %}
        
        <script src="{% static 'js/dynamic-style-end.js' %}"></script>
    </body>

</html>
