{% extends "base_clean.html" %}
{% load staticfiles %}
{% load humanize %}

{% block container %}
    <div class="body-style">
		<table class="table table-striped table-hover table-bordered" background="cid:email_background" width="800px">
			<tr>
				<td width="100%">
					<h2>{{ verbose_title }}</h2>
				</td>
			</tr>
			<tr>
				<td width="100%">
					<div class="email-style">
						{% if BODY %}
							{{BODY|safe}}
						{% else %}
							{% block email_content %}
							{% endblock %}
						{% endif %}
					</div>
				</td>
			</tr>
		</table>
		<br>
		<footer>
			<p> {{APP_NAME|capfirst}} &copy; Desarrollado por ER Technology Ltda. {{ CURRENT_YEAR }}.</p>
		</footer>
    </div>
{% endblock %}
