{% extends "base.html" %}

{% block title %}{{ APP_NAME|capfirst }}{% endblock %}

{% block menu %}
    {% if MENU and USER_NAME %}
		<div id="menu_id" class="hide er-menu" >
            {{ MENU|safe }}
		</div>
		
    {% endif %}
{% endblock %}
{% block clock %}<div id="clock_id" class="pull-right clock-text"></div>{% endblock %}
{% block msgs %}
    {% if MSG %}
        {{ MSG }}
    {% endif %}
{% endblock %}

{% block container %}
    <div class="body-style">

        <div id="alert_placeholder_id">
        </div>
    
        {% block content %}{% endblock %}
	    <hr>
	    <footer>
	        <p>&copy; Desarrollado por ER Technology Ltda. {{ CURRENT_YEAR }}.</p>
	    </footer>
    </div>
{% endblock %}
