{% extends "base_clean.html" %}

{% block title %}{{ APP_NAME|capfirst }}{% endblock %}

{% block container %}
    <div class="body-style">

        <div id="alert_placeholder_id">
        </div>
    
        {% block content %}{% endblock %}
	    <hr>
	    <footer>
	        <p> {{APP_NAME}} &copy; Desarrollado por ER Technology Ltda. {{ CURRENT_YEAR }}.</p>
	    </footer>
    </div>
{% endblock %}
