{% load staticfiles %}

<!doctype html>

<html lang="es-CO">

    <head>
        <meta charset="utf-8">
        <meta name="robots" content="NONE,NOARCHIVE">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{% block title %}{% endblock %} | {% block extra_title %}{% endblock %}</title>
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui/cupertino/jquery-ui-1.10.3.custom.min.css' %}">
        <!-- bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.er.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap-responsive.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/select2/select2.min.css' %}">
        <script src="{% static 'js/messages.js' %}"></script>

        {% block css %}{% endblock %}
		
        <!-- vars -->
        <script type="text/javascript">
            var MEDIA_URL = "{{ MEDIA_URL_NO_SLASH }}";
            var MEDIA_IMG = "{{ MEDIA_IMG }}";
            var APP_URL = "{{ APP_URL }}";
            var STATIC_URL = "{{ STATIC_URL|escapejs }}";
        </script>

        <script type="text/javascript">
	        var messages = new Array();
	        {% for message in messages %}
	            messages["{{ message.tags }}"] = "{{ message }}";
	        {% endfor %}
	        messages_displaySessionMsg();
	    </script>


    </head>

    <body {% if USER_NAME %}onload="main_clock ()"{% endif %}>
        
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="brand" href="#" id="main_button_id">{{ APP_NAME|capfirst }}</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><a href="{{APP_URL}}/">Principal</a></li>
                  {% if USER_NAME %}
	                  <li class="dropdown">
	                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i>{% if AGENT.client %}{{AGENT.client.name}} - {% endif %}{{ USER_NAME|title }} <b class="caret"></b></a>
	                    <ul class="dropdown-menu">
	                      <li><a href="{{ APP_URL }}/accounts/password/">Cambiar contraseña</a></li>
	                      <li><a href="{{ APP_URL }}/accounts/logout/">Salir</a></li>
	                    </ul>
	                  </li>
                  {% endif %}
                </ul>
                {% if not USER_NAME %}
	                <form class="navbar-form pull-right"
	                      action="{% if APP_URL != '' %}{{ APP_URL }}{% else %}.{% endif %}"
	                      method="post"
	                      autocomplete="off"
	                    >{% csrf_token %}
	                    
		                <input type="hidden" name="next" value="{{ next }}" />
		                <select id="client_id" name="client" class="span2" placeholder="Cliente">
		                	<option value="">Escoja Cliente</option>
		                	{% for client in client_list %}
		                		<option value="{{client.id}}">{{client.name}}</option>
		                	{% endfor %}
		                </select>
		                <input id="username_id" name="username" class="span2" type="text" placeholder="Usuario">
		                <input id="password_id" name="password" class="span2" type="password" placeholder="Contraseña">
		                <button type="submit" class="btn">Ingresar</button>
	                </form>
                {% endif %}
                {% block clock %}{% endblock %}
              </div>
            </div>
          </div>
        </div>  

        {% block menu %}{% endblock %}
        
	    <div class="container">
		       {% block container %}{% endblock %}
	    </div>    
        
        <!-- Scripts -->
        <script src="{% static 'js/jquery/jquery-1.9.1.min.js' %}"></script>
		<script src="{% static 'js/jquery-ui/jquery-ui-1.10.3.custom.min.js' %}"></script>
		<script src="{% static 'js/datetimepicker/jquery-ui-timepicker-addon.js' %}"></script>
		<!-- <script src="{% static 'js/datetimepicker/jquery.datetimepicker.js' %}"></script> -->
		
		<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/validate/jquery.validate.min.js' %}"></script>
		<script src="{% static 'js/validate/jquery.validate-extra-er.js' %}"></script>
		<script src="{% static 'js/mask/jquery.mask.min.js' %}"></script>
		<script src="{% static 'js/select2/select2-er.min.js' %}"></script>
		<!-- form wizard -->
		<script src="{% static 'js/wizard/jquery.ba-bbq.min.js' %}"></script>
		<script src="{% static 'js/wizard/jquery.form.min.js' %}"></script>
		<script src="{% static 'js/wizard/jquery.form.wizard.min.js' %}"></script>
		<!-- end form wizard -->
        <script src="{% static 'js/numberformatter/jshashtable-3.0.js' %}"></script>
        <script src="{% static 'js/numberformatter/jquery.numberformatter-1.2.4.min.js' %}"></script>
        <!-- <script src="{% static 'js/alphanumeric/jquery.alphanumeric.min.js' %}"></script> -->
		<script src="{% static 'js/dynamic-style.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>

        {% block js %}{% endblock %}
        
        <script src="{% static 'js/dynamic-style-end.js' %}"></script>
    </body>

</html>
