{% load tools %}

{% for field in form %}
    {% if forloop.counter0|calcmodule:4 == 0 %}
        <div class="row">
	{% endif %}
    <div class="span3">
        <div class="control-group">
            {{ field.label_tag }}
            <div>
               {{ field }}
            </div>
        </div>
    </div>
    {% if forloop.counter0|calcmodule:4 == 3 %}
        </div>
    {% endif %}
{% endfor %}

{% if form.fields|length|calcmodule:4 != 0 %}
    </div>
{% endif %}

