{% load tools %}



{% for field in form %}
    {% if forloop.counter0|calcmodule:3 == 0 %}
        <div class="row">
    	    <div class="span3 offset1">
                <div class="control-group">
                    {{ field.label_tag }}
                    <div>
                       {{ field }}
                    </div>
                </div>
            </div>
    {% else %}
        {% if forloop.counter0|calcmodule:3 == 1 %}
            <div class="span3">
                <div class="control-group">
                    {{ field.label_tag }}
                    <div>
                       {{ field }}
                    </div>
                </div>
            </div>
        {% else %}
                <div class="span3">
                    <div class="control-group">
                        {{ field.label_tag }}
                        <div>
                           {{ field }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
