{% load tools %}

{% for field in form %}
    <div class="row">
        <div class="span3 offset4">
		    <div class="control-group">
		        {{ field.label_tag }}
			    <div class="controls">
			       {{ field }}
			       <span class="help-block"></span>
			    </div>        
		    </div>
	    </div>
    </div>
{% endfor %}

<div class="buttons-padding">
    <div class="row">
        <div class="span3 offset6">
		    <input type="button" name="back_button" value="Volver" onclick="javascript:history.back();" class="btn" />
		    <input type="submit" name="save_button" value="Guardar" class="btn btn-primary" />
	    </div>
    </div>
</div>
    