{% load tools %}

{% for field in form %}
	 <div class="row">
		 <div class="span3 offset4">
			 <div class="control-group">
			    {{ field.label_tag }}
				 <div class="controls">
				    {{ field }}
				 </div>        
			 </div>        
		 </div>
	 </div>
{% endfor %}
