{% for field in form %}
    {% if forloop.counter0|divisibleby:"2" %}
	    <div class="row">
    	    <div class="span3 offset3">
	            <div class="control-group">
		            {{ field.label_tag }}
		            <div class="controls">
		               {{ field }}
		            </div>
	            </div>
            </div>
    {% else %}
            <div class="span3">
                <div class="control-group">
	                {{ field.label_tag }}
	                <div class="controls">
	                   {{ field }}
	                </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

{% if not form.fields|length|divisibleby:"2" %}
        </div>
{% endif %}

<div class="buttons-padding">
	<div class="row">
	    <div class="span3 offset6">
		    <input type="button" name="back_button" value="Volver" onclick="javascript:history.back();" class="btn" />
		    <input type="submit" name="save_button" value="Guardar" class="btn btn-primary" />
	    </div>
	</div>
</div>
    