{% for field in form %}
    {% if forloop.counter0|divisibleby:"2" %}
	    <div class="row">
    	    <div class="span5">
	            <div class="control-group">
		    	    <div class="span">
			            {{ field.label_tag }}
		            </div>
	                <div class="controls">
		               {{ field }}
		            </div>
	            </div>
            </div>
    {% else %}
            <div class="span5">
                <div class="control-group">
		    	    <div class="span">
		                {{ field.label_tag }}
		            </div>
	                <div class="controls">
	                   {{ field }}
	                </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

{% if not form.fields|length|divisibleby:"2" %}
        </div>
{% endif %}