{% for field in form %}

    {% if forloop.counter0|divisibleby:"2" %}
	    <div class="row">
    	    <div class="span3 offset3">
    {% else %}
            <div class="span3">
    {% endif %}
           <div class="control-group">
               {{ field.label_tag }}
               {{ field }}
           </div>
       </div>

    {% if not forloop.counter0|divisibleby:"2" %}
            </div>
    {% endif %}
    
{% endfor %}

{% if not form.fields|length|divisibleby:"2" %}
        </div>
{% endif %}

<div class="span9 offset3">
	<div class="control-group">
	    <div class="controls">
	        <input type="button" name="back_button" value="Volver" onclick="{% if BACK_URL %}window.location.href='{{ BACK_URL }}';{% else %}javascript:history.back();{% endif %}" class="btn"/>
	        <input type="submit" name="save_button" value="Consultar" onclick="document.list_form.option.value='form';" class="btn btn-primary" />
	        {% if can_export %}
		        <input type="submit" name="export_button" value="Exportar" onclick="document.list_form.option.value='export';" class="btn" />
		    {% endif %}
	    </div>
	</div>
</div>
        