{% for field in form %}
<div class="control-group">
    {{ field.label_tag }}
    <div class="controls">
        {{ field }}
    </div>
</div>
{% endfor %}
<div class="control-group">
    <div class="controls">
        <input type="button" name="back_button" value="Volver" onclick="javascript:history.back();" class="btn"/>
        <input type="button" id="clear_button_id" name="clear_button" value="Limpiar" class="btn"/>
        <input type="submit" name="save_button" value="Consultar" onclick="document.list_form.option.value='form';" class="btn btn-primary" />
    </div>
</div>

    