{% for field in form %}
<div class="control-group">
    {{ field.label_tag }}
    <div class="controls">
        {{ field }}
    </div>
</div>
{% endfor %}
<div class="control-group">
    <div class="controls">
        <input type="button" name="back_button" value="Volver" onclick="{% if BACK_URL %}window.location.href='{{ BACK_URL }}';{% else %}javascript:history.back();{% endif %}" class="btn"/>
        <input type="submit" name="save_button" value="Consultar" onclick="document.list_form.option.value='form';" class="btn btn-primary" />
        {% if can_export %}
	        <input type="submit" name="export_button" value="Exportar" onclick="document.list_form.option.value='export';" class="btn" />
	    {% endif %}
    </div>
</div>

    