<div>
	{% if paginator.total %}
		<b><center>{{paginator.quantity}} de {{paginator.total}}</center></b>
	{% endif %}
</div>
<div class="pagination pagination-centered">
    <ul>
    {% if paginator.has_first_page %}
    <li><a href="#" onclick="document.list_form.option.value='paging'; document.list_form.page_number.value={{ paginator.page_range|first }}; document.list_form.submit(); return false;">Primera</a></li>
    {% endif %}

    {% if paginator.has_previous_page %}
    <li><a href="#" onclick="document.list_form.option.value='paging'; document.list_form.page_number.value={{ paginator.page_number|add:'-1' }}; document.list_form.submit(); return false;">Prev</a></li>
    {% endif %}
    
    {% for a_page_number in paginator.page_range %}
    <li><a href="#" {% if a_page_number == page_number %}id="selected_page_id"{% endif %} onclick="document.list_form.option.value='paging'; document.list_form.page_number.value={{ a_page_number }}; document.list_form.submit(); return false;">{{ a_page_number }}</a></li>
    {% endfor %}

    {% if paginator.has_next_page %}
    <li><a href="#" onclick="document.list_form.option.value='paging'; document.list_form.page_number.value={{ paginator.page_number|add:'1' }}; document.list_form.submit(); return false;" >Próx</a></li>
    {% endif %}

    {% if paginator.has_last_page %}
    <li><a href="#" onclick="document.list_form.option.value='paging'; document.list_form.page_number.value={{ paginator.page_range|length }}; document.list_form.submit(); return false;" >Última</a></li>
    {% endif %}
    </ul>
</div>
